@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-black-1: #000000;
    --clr-black-2: #262626;
    --clr-white-1: #ffffff;
    --clr-white-2: #f1f5f8;
    --clr-gray-1: #464646;
    --clr-red-1: #ff00a9;
    --clr-blue-1: #eaf2fd;
    --clr-gold: #c59d5f;
    --crl-green: #90ee90;
    --font-fam: "Roboto", sans-serif;
    --transition: 500ms;
    --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-fam);
    color: var(--clr-gray-1);
    background-color: var(--clr-white-2);
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}

p {
    margin-bottom: 0.85rem;
}
h1 {
    font-size: 1.375rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
}
input,
textarea {
    border: none;
    outline: 0;
}
input:focus,
textarea:focus {
    box-shadow: var(--shadow);
}
.span {
    margin-bottom: 0.5rem;
    display: block;
    /* text-transform: capitalize; */
}
.bold {
    font-weight: bold;
}
header,
main,
footer {
    width: 100vw;
}
.section-center {
    width: 92vw;
    margin: 0 auto;
    max-width: 1170px;
}
.titulo {
    text-transform: capitalize;
    text-align: center;
}
.border {
    border: 3px solid var(--clr-gold);
}

/* header & nav */

header,
main {
    position: relative;
}
.open-navbar {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 18%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0 0 0.5rem 0.5rem;
}
.home {
    position: fixed;
    right: 10px;
    bottom: 10%;
    rotate: -90deg;
    border-radius: 0.5rem;
    display: none;
}
.show-home {
    display: block;
}

.open-navbar:hover {
    border: 3px solid var(--clr-gold);
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding: 1rem 0.5rem;
}
.container-navbar {
    display: flex;
    align-items: center;
}
.container-header p,
.container-header h3 {
    margin: 0;
}
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 400px;
    z-index: -10;
    background-color: var(--clr-black-2);
    transform: translate(-100%);
    text-transform: capitalize;
    transition: all var(--transition);
}
.show-navbar {
    z-index: 10;
    transform: translate(0);
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 3rem 1rem 1rem 1.5rem;
}
.close-navbar {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 1.5rem;
    padding: 6.5px 10px !important;
    margin-right: 0 !important;
}
.links {
    font-size: 1.5rem;
    color: currentColor;
    transition: all var(--transition);
    margin-left: 1.5rem;
}
.links:hover {
    scale: 1.2;
    color: var(--clr-red-1);
}
.list {
    border-bottom: 2px solid var(--clr-gold);
    padding-left: 0.5rem;
}
.list a {
    font-size: 1.5rem;
    display: block;
    color: var(--clr-white-1);
    transition: all var(--transition);
    padding: 1rem 0;
}
.list a:hover {
    color: var(--clr-gold);
    padding-left: 1rem;
}
/* end header & nav */

/* presentation */
.container-presentation {
    padding: 1rem 0.5rem;
}
.img {
    width: 95px;
    height: 95px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}
.container-presentation h1 {
    font-weight: 700;
}
.container-presentation h3 {
    font-weight: 400;
}
.container-presentation div div:last-child {
    display: flex;
    justify-content: space-evenly;
}
/* end presentation */

/* sobre */
.container-sobre {
    background-color: var(--clr-blue-1);
    padding: 1rem 0.5rem;
}
/* end sobre */

/* skills & hobbies */
.flex-col {
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem;
}

.format {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.box {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: all var(--transition);
}
.item-skill {
    justify-content: flex-end;
    width: 156px;
    height: 118px;
    font-weight: bold;
    text-transform: capitalize;
}
.item-skill span:first-child {
    font-size: 2rem;
}
.item-skill:hover {
    color: var(--clr-white-2);
    background-color: var(--clr-black-2);
}
/* end skills & hibbies */

/* formacao */
.container-formacao {
    background-color: var(--clr-blue-1);
    padding-bottom: 0;
}
.item-formacao {
    width: 296px;
    padding: 1rem 0;
}
.item-formacao div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 118px;
    background-color: var(--clr-white-1);
    border-radius: 0.5rem;
    padding: 0 25%;
    margin-bottom: 0.4rem;
}
.item-formacao div div {
    height: 50%;
    width: 50%;
    margin: 0;
    border-radius: 0%;
    padding: 0;
}
.item-formacao div div img {
    width: 100%;
    height: 100%;
}
/* end formacao */

/* exp profissional */
.container-prof {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}
.expItem {
    width: 296px;
    display: flex;
    flex-direction: column;
}
.expImg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 144px;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    position: relative;
    background-color: var(--clr-gold);
}
.expImg img {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}
.btn-left,
.btn-right {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.5rem;
    color: var(--clr-gold);
    position: absolute;
}
.btn-left {
    left: 0;
    top: 0;
    bottom: 0;
}
.btn-right {
    right: 0;
    top: 0;
    bottom: 0;
}
.btn {
    padding: 12px 16px;
    margin-right: 0.625rem;
    background-color: var(--clr-gold);
    color: var(--clr-white-1);
    cursor: pointer;
    transition: all var(--transition);
}
.btn:hover {
    background-color: var(--clr-white-1);
    color: var(--clr-gold);
}
.btn-container .btn:last-child,
.containers-encriptar .btn:last-child {
    background-color: white;
    color: var(--clr-gold);
    margin-right: 0;
}
.btn-container .btn:last-child:hover,
.containers-encriptar .btn:last-child:hover {
    background-color: var(--clr-gold);
    color: var(--clr-white-1);
}

/* demo */
.demo {
    background-color: var(--clr-blue-1);
    padding: 1rem 0;
    margin-bottom: 0;
}
.container-demo {
    width: 296px;
}

.containers-encriptar {
    width: 100%;
    margin-bottom: 1rem;
    overflow: auto;
}
.containers-encriptar input {
    display: block;
    width: 100%;
    margin-bottom: 0.4rem;
    height: 3rem;
    padding: 0 0.4rem;
    font-size: 1.2rem;
}
.containers-encriptar h3 {
    margin-bottom: 0;
}
.containers-encriptar span {
    line-height: 29px;
}
.copiado {
    color: var(--crl-green) !important;
    border: 3px solid var(--crl-green);
}
.copiado:hover {
    color: var(--clr-black-2) !important;
    border: 3px solid var(--clr-black-2);
}
/* end demo */
/* end exp profissional */

/* contato */
.container-contato {
    align-items: center;
}
.contato-item {
    width: 296px;
    padding: 1rem 0;
}
.contato-item form input,
.contato-item form textarea {
    display: block;
    width: 100%;
    height: 56px;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
}
.contato-item form textarea {
    resize: none;
    height: 112px;
}
.contato-item form submit:last-of-type {
    width: 50%;
}
.contato-item form input::placeholder {
    font-style: italic;
}
/* end contato */

/* footer */
footer {
    background-color: var(--clr-black-2);
    padding: 2rem;
    text-align: center;
    color: var(--clr-white-1);
}
/* end footer */

@media screen and (min-width: 536px) {
    .section-center {
        width: 90vw;
    }
    .container-presentation {
        overflow: auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
    .flex-col {
        padding: 2rem 0.5rem;
    }

    .img {
        width: 145px;
        height: 145px;
        margin-left: 1rem;
    }

    .item-skill,
    .item-formacao {
        width: 224px;
    }

    .expItem,
    .container-demo,
    .contato-item {
        width: 100%;
    }
    .expImg {
        height: 320px;
    }
}

@media screen and (min-width: 856px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    header {
        background-color: var(--clr-white-1);
        box-shadow: var(--shadow);
    }

    .open-navbar,
    .close-navbar {
        display: none;
    }
    .container-presentation,
    .demo {
        padding: 2rem 0.5rem;
    }
    .navbar {
        position: static;
        z-index: auto;
        transform: translate(0);
        background-color: var(--clr-white-1);
        font-size: 1rem;
        max-width: none;
    }
    .container-navbar {
        display: flex;
        align-items: center;
    }
    .navbar ul {
        display: flex;
    }
    .list {
        padding: 0;
        margin-left: 1.5rem;
        border-bottom: none;
    }
    .list a {
        font-size: 1rem;
        display: block;
        color: var(--clr-gray-1);
        transition: all var(--transition);
        padding: 1rem 0;
    }
    .list a:hover {
        color: var(--clr-gold);
        padding-left: 0;
        background-color: var(--clr-white-1);
    }

    .img {
        width: 255px;
        height: 255px;
        margin-left: 2rem;
    }

    .item-skill {
        width: 176px;
        height: 174px;
    }

    .container-formacao div:not(.item-formacao):not(.border) {
        gap: 2rem;
    }
    .item-formacao div {
        height: 224px;
        padding: 25% 25%;
    }
    .item-formacao div div {
        height: 100%;
        width: 100%;
    }

    .container-expProf .expItem:last-of-type {
        flex-direction: row-reverse;
    }
    .expItem {
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.5rem;
        background-image: linear-gradient(
            var(--clr-white-2),
            var(--clr-white-1)
        );
    }
    .expImg {
        width: 67.25%;
        height: 409px;
        margin-bottom: 0;
        margin-right: 1rem;
    }
    .expItem div:last-child:not(.btn-container) {
        width: 32.75%;
    }
    #expImg2 {
        margin-right: 0;
        margin-left: 1rem;
    }

    .container-demo,
    .contato-item {
        max-width: 67.25%;
        min-width: 600px;
    }
    .exp-demo {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}
